/* body,
html {
  height: 100%;
} */
.divhero {
  height: 50vh;
}

.texthero1 {
  font-size: 70px;
  color: rgb(196, 195, 190);
  text-shadow: 5px 2px white;
}
.texthero2 {
  font-size: 70px;
  color: rgb(73, 236, 41);
  text-shadow: 5px 2px white;
}
.texthero3 {
  font-size: 60px;
  color: rgb(218, 125, 20);
  text-shadow: 5px 2px white;
}
.logo2 {
  width: 170;
  height: 150;
  border-radius: 50%;
  box-shadow: 5px 2px rgb(46, 151, 4);
}

.xxx {
  background: rgba(73, 67, 0, 0.158);
}
.xxx-xxx {
  background: rgb(17, 12, 59);
}
.heroimage {
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  min-width: 1024px;
  /* opacity: 0.6; */
}
.divherocontact {
  height: 100%;
  margin-top: 100px;
}
.heroimagecontact {
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50%;
  min-width: 1024px;
}

.imagecenter {
  text-align: center;
}
.x1 {
  background-color: black !important;
  color: aliceblue !important;
}
.th1 {
  text-shadow: 2px 2px black;
}

.tf1 {
  font-family: "Lobster Two", cursive;
  font-family: "Over the Rainbow", cursive;
  font-family: "ZCOOL KuaiLe", cursive;
}
.tf {
  font-family: "Lobster Two", cursive;
  font-family: "Over the Rainbow", cursive;
}
.tf0 {
  font-family: "Lobster Two", cursive;
}
